body {
    background-color: #393E46;
}
h1 {
    font-family: 'Lobster', cursive;
    text-shadow: 5px 0 #232931;
    font-size: 8rem;
    color: darkturquoise;
    text-align: center;
    margin: 30px;
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
  }
  
  .player {
    text-align: center;
    display: inline-block;
  
  }
p {
    color: darkturquoise;
}
img {
    width: 80%;
}
footer {
    margin-top: 5%;
    color: #EEEEEE;
    text-align: center;
    font-family: 'Indie Flower', cursive;
  
  }
.shake{
    animation: shake 0.5s infinite;
}
@keyframes shake{
    0% {
        transform: rotate(8deg);
    }
    50% {
        transform: rotate(-8deg);
    }
    100% {
        transform: rotate(8deg);
    }
}